<div class="page-area" style="margin-left: 15%; margin-right: 15%;" >
  <h2>Contract Us</h2>
  <p style="margin-bottom: 5%;">For any kind of information please come and contract with us</p>
  
  <div class="row">
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Laptop</h5>
        <a class="btn btn-primary">Search Laptop</a>
      </app-card>
    </div>

    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Mobile</h5>
        <a class="btn btn-primary">Search Mobile</a>
      </app-card>
    </div>

    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Desktop</h5>
        <a class="btn btn-primary">Search Desktop</a>
      </app-card>
    </div>

    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Camera</h5>
        <a class="btn btn-primary">Search Camera</a>
      </app-card>
    </div>
  </div> 
</div>
