<div class="card container mt-5">
  <h1 class="head">Personal Information of {{ employee.name }}</h1>
  <img src="assets/image/name.png" class="card-img-top" alt="Image">
  <div class="card-body">
    <table class="table table-striped">
      <tbody class="tbody">
        <tr><td>ID :{{ employee.id }}</td></tr>
        <tr><td>Name : {{ employee.name }}</td></tr>
        <tr><td>E-mail : {{ employee.email }}</td></tr>
        <tr><td>Phone : {{ employee.phone }}</td></tr>
      </tbody>
    </table>
  </div>
</div>
